* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

/* header navbar */
header{
    background-color: #FF6900;
    padding-bottom: 80px;



}
#navbar{
    height: 80px;
    width: 100%;
    background-color: #FF6900;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    font-size: 20px;
    z-index: 1;

}
#navbar .container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
#navbar > div{
    flex-basis: 25%;
}
img{
    display: block;
    width: 153px;
}
.genre a{
    color: white;
}
.look {
    width: 310px;
    height: 490px;
    display: inline-block;
    margin: 4px;
    text-align: left;
    overflow: hidden;
    position: relative;

}

.search:hover::after {
    color: red;    
}
.look img {
   width: 100%;
}
.after
{
    display: none;
}
.look:hover .after {
    display: inline-block;
}
.look:hover .before {
    display: none;
}
.favourite {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: white;
    top: 10px;
    right: 0px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
}
.favourite:hover {
    color: red;
}
